@charset "utf-8";
@import '../font/bahnschrift.css';

:root {
    --font-main: 'Bahnschrift', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-mono: 'Consolas', 'Courier New', 'Courier', 'Lucida Console', 'Ubuntu Mono', monospace;
    --font-size: 12pt;

    --color-foreground: #222;
    --color-background: whitesmoke;

    font-size: var(--font-size);
    font-family: var(--font-main);
    background-color: var(--color-background);
    color: var(--color-foreground);
}

:root,
body {
    padding: 0px;
    margin: 0px;
}
