@charset "utf-8";
@import '/css/bahnschrift.css';
@import '/css/cascadia.css';


:root {
    --font-main: 'Bahnschrift', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-mono: ui-monospace, 'Cascadia', 'Consolas', 'Courier New', 'Courier', 'Lucida Console', 'Ubuntu Mono', monospace;
    --font-size: 14pt;

    --color-foreground: #222;
    --color-background: #eee;
    --color-accent: #2980B9;
    --color-element: #fff;
    --color-toolbars: #ddd;
    --color-inline-code: #bbb;

    --header-height: 50px;
    --footer-height: 30px;

    --main-content-width: 800px;

    --border-radius: 6px;

    font-size: var(--font-size);
    background-color: var(--color-background);
    color: var(--color-foreground);
}

* {
    font-family: var(--font-main);
}

ol li,
ul li,
menu li {
    margin: 4px 0px;
}

a {
    text-decoration: none;
    color: unset;
}

button, input, textarea, input[type="color"] {
    background-color: var(--color-element);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    padding: 3px 6px;
}

input[readonly], textarea[readonly] {
    border-color: var(--color-foreground);
    background-color: transparent;
}

button, input[type="submit"], input[type="button"], input[type="color"] {
    color: var(--color-accent);
    filter: brightness(1);

    transition: filter .3s;
}

button.primary,
input[type="submit"].primary,
input[type="button"].primary {
    background-color: var(--color-accent);
    color: var(--color-element);
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    filter: brightness(.85);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active {
    outline-offset: 0px;
    outline: 1px solid var(--color-accent);
    filter: brightness(.7);
}

input:not([readonly]):focus,
textarea:not([readonly]):focus {
    outline-color: var(--color-accent);
}

button, input[type="submit"], input[type="button"], input[type="color"], a {
    cursor: pointer;
}

fieldset {
    border-radius: var(--border-radius);
}

code {
    background-color: var(--color-inline-code);
    /* border: 1px solid var(--color-foreground); */
    border-radius: var(--border-radius);
    font-family: var(--font-mono);
    box-sizing: border-box;
    padding: .2em .4em;
    font-size: 85%;
    margin: 0;
}

.small {
    font-size: .8em;
}

:root,
body {
    min-width: calc(50px + var(--main-content-width));
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

body header,
body footer {
    background-color: var(--color-toolbars);
    position: fixed;
    width: 100%;
    right: 0px;
    left: 0px;
}

body header {
    border-bottom: 1px solid var(--color-foreground);
    height: var(--header-height);
    flex-direction: row;
    align-content: center;
    align-items: center;
    z-index: 2000;
    display: flex;
    top: 0px;
}

body header header-separator {
    border-left: 1px solid var(--color-foreground);
    display: block;
    margin: 0px 20px;
    height: 100%;
    opacity: .6;
    width: 0px;
}

body header header-separator.small {
    border-image: linear-gradient(
        to bottom,
        var(--color-toolbars),
        var(--color-foreground),
        var(--color-toolbars)
    ) 1 100%;
    height: 70%;
}

body header header-filler {
    flex: 1;
}

body header #main-icon {
    --icon-size: 40px;

    background-image: url('/img/favicon-180.png');
    background-size: var(--icon-size) var(--icon-size);
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: var(--icon-size);
    height: var(--icon-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 900;
    font-size: 1.4em;
    margin: 0px 10px;
    color: var(--color-foreground) !important;
}

body footer {
    border-top: 1px solid var(--color-foreground);
    height: var(--footer-height);
    position: fixed;
    z-index: 1000;
    display: block;
    bottom: 0px;
}

modal-container {
    background-color: #00000055;
    position: fixed;
    z-index: 90000;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 1;

    transition: opacity .5s;
}

modal-container.hidden {
    pointer-events: none;
    opacity: 0;
}

modal-form {
    border: 1px solid var(--color-foreground);
    border-radius: var(--border-radius);
    background: var(--color-background);
    flex-direction: column;
    min-height: 25%;
    min-width: 40%;
    padding: 40px;
    display: flex;
    margin: auto;
}

modal-form #modal-title,
modal-form #modal-text {
    margin-top: 0px;
}

modal-form #modal-text {
    flex: 1;
}

page-container {
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: absolute;
    overflow-x: auto;
    display: flex;
    height: calc(100% - calc(var(--header-height) + var(--footer-height)));
    bottom: var(--footer-height);
    top: var(--header-height);
    filter: blur(0px);
    width: 100%;
    right: 0px;
    left: 0px;

    transition: filter .5s;
}

modal-container:not(.hidden) ~ page-container {
    pointer-events: none;
    filter: blur(20px);
}

page-container main {
    min-width: var(--main-content-width);
    flex-direction: column;
    overflow-y: hidden;
    margin: 0px auto;
    padding: 10px 30px;
    display: flex;
    flex: 1;
}

page-container main.text {
    --main-content-width: 500px;

    overflow: auto;
}

page-container main .page-heading {
    align-items: center;
    display: flex;
    margin: 5px 0px;
}

page-container main .page-heading > *:first-child {
    margin-left: auto;
}

page-container main .page-heading > *:not(:first-child) {
    margin-left: 10px;
}


progress-bar {
    border-radius: 5px;
    border: 1px solid var(--color-foreground);
    overflow: hidden;
    margin: 5px 0px;
    display: flex;
    height: 10px;
    width: 100%;
}

progress-bar progress-bar-segment {
    display: block;
    height: 100%;
}

progress-bar progress-bar-segment.completed {
    background-color: mediumseagreen;
}

progress-bar progress-bar-segment.in-progress {
    background-color: skyblue;
}

progress-bar progress-bar-segment.not-started {
    background-color: gainsboro;
}


tab-control {
    background-color: var(--color-background);
    border: 1px solid var(--color-foreground);
    border-radius: var(--border-radius);
    flex-direction: column;
    display: flex;
}

tab-control tab-header {
    border-top-right-radius: calc(var(--border-radius) - 1px);
    border-top-left-radius: calc(var(--border-radius) - 1px);
    background-color: var(--color-code);
    overflow: hidden;
    display: flex;
}

tab-control tab-header button {
    border: none;
    border-bottom: 1px solid var(--color-foreground);
    border-right: 1px solid var(--color-foreground);
    background-color: var(--color-toolbars);
    border-radius: 0px;
    padding: 10px;
    outline-color: transparent !important;

    transition: .3s;
}

tab-control tab-header button.active {
    border-bottom: 1px solid transparent;
    background-color: var(--color-background);
    pointer-events: none;
}

tab-control tab-header tab-header-filler {
    border-bottom: 1px solid var(--color-foreground);
    flex: 1;
}

tab-control tab-page {
    border-top: none;
    padding: 10px;
    display: none;
}

tab-control tab-page.active {
    display: unset;
}



/* ///////////////////////////////////////// TODO /////////////////////////////////////////

.scroll-shadows {
    position: relative;
    background-color: #FFF;
}

.shadow-top {
    height: 20px;
    position: absolute;
    background-image: radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    display: none;
  }

.shadow-bottom {
    height: 20px;
    position: absolute;
    background-image: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    display: none;
}

*/