@charset "utf-8";


#tasks-search,
#projects-search {
    width: 200px;
}

/* #new-project {
    margin-left: 10px;
} */

task-list,
project-list {
    /* padding: 0px 10px 0px 0px; */
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    width: 100%;
    flex: 1;
}

project-empty {
    text-align: center;
    margin: auto;
    width: 300px;
}

task-card,
project-card {
    border: 1px solid var(--color-foreground);
    background-color: var(--color-element);
    border-radius: var(--border-radius);
    margin: 0px 10px 10px 0px;
    display: flex;
}

task-card.error,
project-card.error {
    border: 1px solid firebrick;
    background-color: mistyrose;
}

task-preview,
project-preview {
    background: repeating-linear-gradient(
        135deg,
        #999,
        #999 5px,
        #bbb 5px,
        #bbb 10px
    );
    border-bottom-left-radius: calc(var(--border-radius) - 1px);
    border-top-left-radius: calc(var(--border-radius) - 1px);
    border-right: 1px solid var(--color-foreground);
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 180px;
}

task-info,
task-actions,
project-info,
project-actions {
    margin: 5px;
    flex-direction: column;
    display: flex;
}

task-info,
project-info {
    flex: 1;
}

task-info h2,
project-info h2 {
    margin: 0px;
}

.page-heading[data-project-id]::before,
project-info h2::after {
    content: '#' attr(data-project-id);
    margin: 0px 10px 0px 0px;
    font-weight: 100;
    opacity: .4;
}

task-info h2::after,
project-info h2::after {
    margin: 0px 10px;
}

task-info task-progress,
project-info project-progress {
    margin-top: 10px;
}

task-actions,
project-actions {
    padding: 0px 3px;
    min-width: 100px;
}

task-actions button,
project-actions button {
    width: 100%;
    margin: 2px;
}

label-list {
    /* padding: 0px 10px 0px 0px; */
    flex-direction: column;
    max-height: 170px;
    overflow-y: auto;
    display: flex;
    width: 100%;
}

label-list project-label {
    --color-label: transparent;

    border: 1px solid var(--color-foreground);
    border-radius: var(--border-radius);
    background-color: var(--color-toolbars);
    margin: 2px 2px 2px 0px;
    padding: 5px 10px;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 31px;
    display: flex;
}

label-list project-label * {
    z-index: 10;
}

label-list project-label::before {
    background-color: var(--color-label);
    pointer-events: none;
    position: absolute;
    display: block;
    content: '';
    opacity: .3;
    z-index: 9;
    height: 100%;
    width: calc(100% + 10px);
    left: -10px;
}

label-list project-label .label-id,
label-list project-label .label-order {
    opacity: .6;
    width: 60px;
}

label-list project-label input,
label-list project-label button {
    margin: auto 5px auto 0px;
}

label-list project-label input.label-name {
    font-weight: bold;
    width: 200px;
}

label-list project-label .label-colorpicker {
    height: 100%;
}

label-list project-label .label-colorhex {
    width: 65px;
}

label-list project-label .label-deleter {
    margin-left: auto;
}

label-list project-label label-grabber {
    border-left: 1px solid var(--color-foreground);
    /* background-color: var(--color-inline-code); */
    margin: -5px -10px -5px auto;
    width: 20px;
}



