@charset "utf-8";


h1.projects-heading {
    align-items: center;
    display: flex;
    margin: 5px 0px;
}

#projects-search {
    margin-left: auto;
    width: 200px;
}

#new-project {
    margin-left: 10px;
}

project-list {
    /* padding: 0px 10px 0px 0px; */
    flex-direction: column;
    overflow-y: scroll;
    display: flex;
    width: 100%;
    flex: 1;
}

project-list project-card {
    border: 1px solid var(--color-foreground);
    background-color: var(--color-element);
    border-radius: var(--border-radius);
    margin: 0px 10px 10px 0px;
    display: flex;
}

project-list project-card.error {
    border: 1px solid firebrick;
    background-color: mistyrose;
}

project-card project-preview {
    background: repeating-linear-gradient(
        135deg,
        #999,
        #999 5px,
        #bbb 5px,
        #bbb 10px
    );
    border-bottom-left-radius: calc(var(--border-radius) - 1px);
    border-top-left-radius: calc(var(--border-radius) - 1px);
    border-right: 1px solid var(--color-foreground);
    margin: 0px 5px 0px 0px;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 180px;
}

project-card project-info,
project-card project-actions {
    margin: 5px;
    flex-direction: column;
    display: flex;
}

project-card project-info {
    flex: 1;
}

project-card project-info h2 {
    margin: 0px;
}

project-card project-info h2::after {
    content: '#' attr(data-project-id);
    margin-left: 10px;
    font-weight: 100;
    opacity: .4;
}

project-card project-info project-progress {
    margin-top: 10px;
}

project-card project-actions {
    padding: 0px 3px;
    min-width: 100px;
}

project-card project-actions button {
    width: 100%;
    margin: 2px;
}
