@charset "utf-8";


file-list {
    border: 1px solid var(--color-foreground);
    background-color: var(--color-element);
    border-radius: var(--border-radius);
    flex-direction: column;
    overflow-y: scroll;
    height: 350px;
    display: flex;
}

file-list file-element {
    --file-element-height: 24px;

    border-bottom: 1px solid #77777777;
    font-family: var(--font-mono);
    align-items: center;
    display: flex;
    padding: 2px;
}

file-list file-element::before {
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--file-element-height);
    width: var(--file-element-height);
    content: '';
}

file-list file-element[data-type="s"]::before {
    background-image: url('/img/icon-server.svg');
}

file-list file-element[data-type="u"]::before {
    background-image: url('/img/icon-upload.svg');
}

file-list file-element[data-type="w"]::before {
    background-image: url('/img/icon-web.svg');
}

file-list file-element input,
file-list file-element button {
    font-size: .9em;
}

file-list file-element input.file-name {
    border: none;
    padding: 0px;
    flex: 1;
}

file-list file-element button {
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 0px 0px 4px;
    height: 100%;
    width: var(--file-element-height);
}

file-list file-element button.file-up {
    background-image: url('/img/icon-up.svg');
}

file-list file-element button.file-down {
    background-image: url('/img/icon-down.svg');
}

file-list file-element button.file-remove {
    background-image: url('/img/icon-delete.svg');
}

file-drop-area {
    border:  1px solid var(--color-foreground);
    border-radius: var(--border-radius);
    background: var(--image-hatched-bg);
    /* color: var(--color-inline-code); */
    font-size: 1.5em;
    margin: 10px 0px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

server-navigator {
    border:  1px solid var(--color-foreground);
    border-radius: var(--border-radius);
    height: 350px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

server-navigator server-navigator-controls {
    border-bottom: 1px solid var(--color-foreground);
    display: flex;
}

server-navigator server-navigator-controls button,
server-navigator server-navigator-controls input {
    border-radius: 0px;
}

server-navigator server-navigator-controls #server-path {
    outline: none !important;
    flex: 1;
}

#server-file-list {
    border-spacing: 0px;
    overflow-y: scroll;
    display: inline-block;
    flex: 1;
}

#server-file-list tr:hover {
    background-color: var(--color-inline-code);
}

#server-file-list tr td {
    white-space: nowrap;
    padding: 0px 4px;
}

#server-file-list tr td.file-name {
    width: 100%;
}

#server-file-list tr[data-type="d"] td.file-name {
    font-weight: bold;
    cursor: pointer;
}

#server-file-list tr td.file-name::before {
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
    position: relative;
    display: inline-block;
    content: ' ';
    height: 16px;
    width: 16px;
}

#server-file-list tr[data-type="d"] td.file-name::before {
    background-image: url('/img/icon-folder.svg');
}

#server-file-list tr[data-type="f"] td.file-name::before {
    background-image: url('/img/icon-file.svg');
}

#server-file-list tr td.file-size,
#server-file-list tr td.file-created,
#server-file-list tr td.file-modified {
    font-variant-numeric: tabular-nums lining-nums;
    text-align: right;
}

#web-url {
    box-sizing: border-box;
    width: 100%;
}

#web-submit,
#upload-files {
    width: 150px;
}

file-drop-area {
    cursor: pointer;
}

#btn-cancel,
#btn-upload {
    width: 200px;
}

