{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>
{% endblock %}
{% block content %}
    <main class="text">
        <h1 class="page-heading">
            404 - Page Not Found
        </h1>
        <p>
            {{error}}
        </p>
        <p>
            The following is the URL in question:
            <br/>
            <code>{{url}}</code>
        </p>
        <p>
            <button class="primary" onlcick="window.history.go(-1)">Go back to the previous page</button>
            <button onclick="window.location.href = '/'">Go to the homepage</button>
        </p>
    </main>
{% endblock %}
{% block scripts %}
    <!-- <script type="text/javascript" language="javascript" src="/js/error.js"></script> -->
{% endblock %}
