<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16.png"/>
        <link rel="stylesheet" type="text/css" href="/css/common.css"/>
        <title>YAYAT | {{ title }}</title>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <a href="/yayat/" id="main-icon">YAYAT</a>
            <header-separator></header-separator>
            <a href="/yayat/projects/">Projects</a>
            <header-separator class="small"></header-separator>
            <a href="/yayat/tasks/">Tasks</a>
            <header-separator class="small"></header-separator>
            [TODO]
            <header-filler></header-filler>
            <header-separator></header-separator>
            [SETTINGS]
        </header>
        <modal-container class="hidden">
            <modal-form>
                <h1 id="modal-title"></h1>
                <p id="modal-text"></p>
                <p id="modal-buttons"></p>
            </modal-form>
        </modal-container>
        <page-container>
            {% block content %}
            {% endblock content %}
        </page-container>
        <footer>
            <footer-item>
                {% if user is defined %}
                Logged in as <b>{{user.uname}}</b>.
                {% else %}
                Not logged in.
                {% endif %}
            </footer-item>


            [TODO]
        </footer>
    </body>
    <script type="text/javascript" language="javascript">
        const use_service_worker = !{{debug|lower}}; // This value is determined by the _DEBUG_ variable in server.py
        // {% if user is defined %}
        const user = {{user.to_jsonstr()|safe}};
        // {% else %}
        const user = undefined;
        // {% endif %}
    </script>
    <script type="text/javascript" language="javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/js/common.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</html>
