{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
{% endblock %}
{% block content %}
    <main class="text">
        <h1>YAYAT - Yet Another YOLO Annotation Tool</h1>
        <p>
            Welcome to YAYAT, a light-weight YOLO annotation tool based on python/flask.
        </p>
        [TODO]
        <p>
            In order to use YAYAT, please login below.
        </p>
        <br/>
        <form id="login-form">
            <login-page>
                <h1>Login</h1>
                <input type="text" id="login-username" placeholder="Username"/>
                <br/>
                <input type="password" id="login-password" placeholder="Password"/>
                <span id="login-error">&nbsp;</span>
                <br/>
                <button type="submit" id="login-button">Sign in</button>
            </login-page>
        </form>
        <br/>
        <br/>
        <h3>
            Forgot your credentials?
        </h3>
        You can reset your password as follows:
        <ol>
            <li>
                Shut down the YAYAT window by pressing <kbd>Ctrl</kbd> + <kbd>C</kbd>.
            </li>
            <li>
                Edit the file <code>{{ userfile }}</code> and provide a new username/password.
            </li>
            <li>
                Restart the server by running <code>python3 "{{mainfile}}"</code>.
            </li>
        </ol>
    </main>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="/js/sha512.js"></script>
    <script type="text/javascript" language="javascript" src="/js/login.js"></script>
{% endblock %}
