{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <main class="text">
        <h1>Create a new Task</h1>
        Name of the task:
        <input type="text" id="task-name" data-error/>
        <p>
            <fieldset>
                <legend>Footage</legend>
                <p>
                    juj
                    <br/>
                    lol
                </p>
                <p>
                    test
                </p>
            </fieldset>
        </p>
        <button id="btn-cancel">Cancel</button>
    </main>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="/js/new-task.js"></script>
{% endblock %}
