{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <main class="text">
        <h1>You seem to be offline :(</h1>
        <p>
            The server does not seem to be reachable.
            This may be the consequence of one or more of the following reasons:
        </p>
        <ul>
            <li>You are not connected to the Internet.</li>
            <li>
                The server has not been started. Try to restart it by running the command
                <code>python3 "{{mainfile}}"</code>.
            </li>
            <li>The server is not accessible as it is hidden behind a firewall or placed in another subnet.</li>
        </ul>
        <p>
            Try addressing the issues above and then reloading the current page by
            pressing the following button or using the keyboard shortcut <kbd>F5</kbd> or <kbd>Ctrl</kbd> + <kbd>R</kbd>.
        </p>
        <br/>
        <button id="btn-reload" class="primary">Reload page</button>
    </main>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript">
        $('#btn-reload').click(() => window.location.reload());
    </script>
{% endblock %}
