{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/projects.css"/>
{% endblock %}
{% block content %}
    <main>
        <p>
            Welcome back, {{uname}}. We hope that you are doing well.
        </p>
        <br/>
        <h1>
            Projects

            <input type="text" value="[TODO : search]"/>
            <button>[TODO : create new project]</button>
        </h1>
        <project-list></project-list>
        <p>
            There are currently <span id="project-count"></span> active project(s).
        </p>
    </main>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript" src="/js/projects.js"></script>
{% endblock %}
