{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/task-annotate.css"/>
{% endblock %}
{% block content %}
    <annotation-container>
        <timeline-controls>
            <icon-button icon="first-frame" id="btn-first-frame"></icon-button>
            <icon-button icon="play-backward" id="btn-play-backward"></icon-button>
            <icon-button icon="prev-frame" id="btn-prev-frame"></icon-button>
            <icon-button icon="next-frame" id="btn-next-frame"></icon-button>
            <icon-button icon="play-forward" id="btn-play-forward"></icon-button>
            <icon-button icon="last-frame" id="btn-last-frame"></icon-button>
            <div class="padding"></div>
            <input id="frame-slider" type="range" value="1" min="1" max="{{task.frames|length}}"/>
            <input id="frame-number" type="number" id="tb-curr-frame" value="1" min="1" max="{{task.frames|length}}"/> &nbsp; / {{task.frames|length}}
            <div class="padding"></div>
        </timeline-controls>
        <timeline-info>
            <span id="frame-resolution"></span> pixels
            <div class="padding"></div>
            (<span id="frame-source" data-source="?"></span>
            "<span id="frame-original-name"></span>",
            internally: "<span id="frame-internal-name"></span>")
        </timeline-info>
        <annotation-canvas>
            <svg-holder>
                <svg id="svg-root">
                    <g id="svg-cursor"></g>
                    <g id="svg-annotations"></g>
                    <image id="svg-image"/>
                </svg>
            </svg-holder>
        </annotation-canvas>
        <annotation-controls>
            <button>new shape</button>
            <button>new track</button>
            <button>reset zoom</button>
            <button>zoom into region</button>
            <button>....</button>
        </annotation-controls>
        <annotation-list>
            [TODO : list of current annotations]
        </annotation-list>
    </annotation-container>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript">
        const task = {{task.to_jsonstr()|safe}};
    </script>
    <script type="text/javascript" language="javascript" src="/js/task-annotate.js"></script>
{% endblock %}
